<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5>Historial de Sergio</h5>
            </div>
            <div class="card-body">
                <table class="table table-striped table-hover">
                    <thead class="text-primary">
                        <th>#</th>
                        <th>Matricula</th>
                        <th>nombres</th>
                        <th>Se realizó</th>
                        <th>Cantidad actual</th>
                    </thead>
                    <tbody>
                        <td>1</td>
                        <td>01EXGS971124H1A1920</td>
                        <td>Sergio Eb Gallegos</td>
                        <td>DEPOSITO de $100</td>
                        <td>$101</td>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
