

  <div class="card card-user">
    <div class="card-header">
      <h5 class="card-title">información de alumno</h5>

    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-md-5 pr-1">
          <div class="form-group">
            <label>Matricula (disabled)</label>
            <input name="matricula" type="text" class="form-control" disabled="" placeholder="Company" value="{{alumnos.matricula}}">
          </div>
        </div>
        <div class="col-md-3 px-1">
          <div class="form-group">
            <label>Usuario</label>
            <input disabled="" id="nombres" type="text" class="form-control" placeholder="Username" value="sergiooo97">
          </div>
        </div>
        <div class="col-md-4 pl-1">
          <div class="form-group">
            <label for="exampleInputEmail1">CURP</label>
            <input disabled="" name="curp" type="email" class="form-control" placeholder="{{ alumnos.curp}}">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 pr-1">
          <div class="form-group">
            <label>Nombres</label>
            <input disabled="" name="nombres" type="text" class="form-control"  placeholder="Company" value="{{ alumnos.nombres }}">
          </div>
        </div>
        <div class="col-md-3 px-1">
          <div class="form-group">
            <label>Apellido paterno</label>
            <input disabled="" name="apellido_paterno" type="text" class="form-control" placeholder="apellido1" value="{{ alumnos.apellido_paterno }}">
          </div>
        </div>
        <div class="col-md-4 pl-1">
          <div class="form-group">
            <label for="exampleInputEmail1">Apellido paterno</label>
            <input disabled="" name="apellido_materno" type="text" class="form-control" placeholder="Apellido paterno" value="{{ alumnos.apellido_materno }}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 pr-1">
          <div class="form-group">
            <label for="exampleInputEmail1">Fecha de nacimiento</label>
            <input disabled="" name="fecha_de_nacimiento" type="date" class="form-control" placeholder="Fecha de nacimiento" value="{{ alumnos.fecha_de_nacimiento}}">
          </div>
        </div>
        <div class="col-md-3 px-1">
          <div class="form-group">
            <label>Municipio</label>
            <input disabled="" name="municipio" type="text" class="form-control" placeholder="Municipio" value="{{ alumnos.municipio }}">
          </div>
        </div>
        <div class="col-md-4 pl-1">
          <div class="form-group">
            <label for="exampleInputEmail1">Dirección</label>
            <input disabled="" name="direccion" type="text" class="form-control" placeholder="Dirección" value="{{ alumnos.direccion}}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 pr-1">
          <div class="form-group">
            <label for="exampleInputEmail1">Nombres de tutor</label>

            <input disabled="" name="nombres_tutor" type="text" class="form-control" placeholder="Nombres de tutor" value="{{ alumnos.nombres_tutor }}">
          </div>
        </div>
        <div class="col-md-3 px-1">
          <div class="form-group">
            <label>Apellido paterno de tutor</label>
            <input disabled="" name="apellido_paterno_tutor" type="text" class="form-control" placeholder="Apellido paterno de tutor" value="{{ alumnos.apellido_paterno_tutor }}">
          </div>
        </div>
        <div class="col-md-4 pl-1">
          <div class="form-group">
            <label for="exampleInputEmail1">Apellido materno de tutor</label>
            <input disabled=""  name="apellido_materno_tutor" type="text" class="form-control" placeholder="Apellido paterno de tutor" value="{{ alumnos.apellido_materno_tutor }}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 pr-1">
          <div class="form-group">
            <label for="exampleInputEmail1">Teléfono del tutor</label>
            <input disabled="" name="telefono_tutor" type="number" class="form-control" placeholder="Teléfono del tutor" value="{{ alumnos.telefono_tutor }}">
          </div>
        </div>
        <div class="col-md-3 px-1">
          <div class="form-group">
            <label>E-mail de tutor</label>
            <input disabled="" type="email" class="form-control" placeholder="correo del tutor" value="{{ alumnos.correo_tutor }}">
          </div>
        </div>
        <div class="col-md-4 pl-1">
          <div class="form-group">
            <label for="exampleInputEmail1">Dirección del tutor</label>
            <input disabled="" name="direccion_tutor" type="text" class="form-control" placeholder="Dirección de tutor" value="{{ alumnos.direccion_tutor }}">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="update ml-auto mr-auto">
          <a href=""  class="btn btn-primary btn-round">Actualizar datos</a>

        </div>
      </div>

    </div>
  </div>