
<div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          Calificaciones de sergio
        </div>
        <div class="card-body ">
            <table id="example" class="table table-striped table-hover " style="width:100% border:1px dashed #ccc; ">
           <tr style="background-color: #e0f3ef; " class="text-primary">
              <td style="" colspan="2"></td>
              <td style=" padding-bottom: 0px; padding-top: 0px; font-size: 28px;"  colspan="3">Bimestre 1</td>
           </tr>
           <tbody>
            <tr style="border:1px dashed #ccc;" class="">
                <td class="text-primary" style="  padding-bottom: 0px; padding-top: 0px;border: 0px; font-size: 28px; background-color: #e0f3ef;" rowspan="2" colspan="2">Español</td>
                <td  style="padding-bottom: 0px; padding-top: 0px; border:1px dashed #ccc; background-color: #e0f3ef; font-size: 20px; padding: 10px;">P1</td>
                <td  style="padding-bottom: 0px; padding-top: 0px; border:1px dashed #ccc; background-color: #e0f3ef; font-size: 20px; padding: 10px;">P2</td>
                <td  style="padding-bottom: 0px; padding-top: 0px; border:1px dashed #ccc; background-color: #e0f3ef; font-size: 20px; padding: 10px;">P3</td>
           </tr>
           <tr>
                <td style="color: #0dce37; border:1px dashed #00a701; font-size: 20px; padding: 10px;">10</td>
                <td  style="color: #d29216; border:1px dashed #ccc; font-size: 20px; padding: 10px;">7</td>
                <td  style="color: #ff0000; border:1px dashed #ccc; font-size: 20px; padding: 10px;">5</td>                    
           </tr>
           </tbody>
       </table>
        </div>
      </div>
    </div>
  </div>
  