<div class="card card-user">
    <div class="image">
      <img src="assets/img/ntcd.jpg" alt="...">
    </div>
    <div class="card-body">
      <div class="author">
        
        <a href="#">
          <img class="avatar border-gray" src="assets/img/yo.jpg" alt="...">
          <h5 class="title" > Sergio</h5>
        </a>
       <p class="description">
          @ 16070021
        </p>
      </div>
      <h5 class="text-success" style="text-align: center;">Depositar a Sergio :)</h5>
      <p style="text-align: center; padding-top:1.5em; padding-bottom: 1.5em;">Cantidad actual: $100</p>
      <div class="row">
          <div class="col-sm-6">
              <input style="margin-top: 0.5em; height: 70%;" type="number" class="form-control" placeholder="Cantidad">
          </div>
          <div class="col-sm-4">            
              <button type="button" class="btn btn-success">Depositar</button>   

            </div>
      </div>
    </div>
    <div class="card-footer">
        
        <a class="btn btn-primary pull-right" [routerLink]="['/alumnos/info/', '1']">Volver</a>

    </div>
  </div>