 <div  class="card card-user">
    <div class="card-header btn-volver-container">
      <h5 class="card-title">Calificación de Sergio </h5>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="example" class="table table-striped table-hover " style="width:100%">
          <thead class=" text-info">
          <th>B1</th>
          <th>B2</th>
          <th>B3</th>
          <th>B4</th>
          <th>Final</th>
          </thead>
          <tbody>
          <tr>
            <td>10</td>
            <td>10</td>
            <td>10</td>
            <td>10</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <a [routerLink]="['/alumnos/calificaciones']" routerLinkActive="router-link-active"  class="btn btn-success">Calificaciones</a>
    </div>
  </div>