<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Lista de alumnos</h4>
      </div>
      <div class="card-body">
        <div class="">
          <table id="example" class="table table-striped table-hover " style="width:100%">
            <thead class=" text-info">
            <th>
              Clave
            </th>
            <th>
              Nombres
            </th>
            <th>
              CURP
            </th>
            <th>
              Dirección
            </th>
            <th>
              Grado
            </th>
            <th>
              Teléfono
            </th>

            <th>

            </th>
            </thead>
            <tbody>
            <tr *ngFor="let alumno of alumnos">
              <td>{{alumno.matricula}}</td>
              <td>{{alumno.nombres}}</td>
              <td>{{alumno.curp}}</td>
              <td>{{alumno.direccion}}</td>
              <td>{{alumno.grado}}</td>
              <td><a class="btn btn-info" [routerLink]="['/alumnos/info', alumno.id]">Detalles</a></td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
